extends layout

block content
  h3.col-xs-10.col-xs-offset-1 Add Vinyl to Your Collection
  form.col-xs-10.col-xs-offset-1#formAddVinyl
    .form-group
      span.requiredField * 
      label Artist
      input#artist.form-control(type='text', placeholder='Artist', required)
    .form-group
      span.requiredField * 
      label Album
      input#album.form-control(type='text', placeholder='Album Name', required)
      
    .row
      .form-group.col-xs-4
        span.requiredField * 
        label Condition
        input#condition.form-control(type='Number', min='1', max='5', placeholder='Condition 1-5')
      .form-group.col-xs-4
        label Year
        input#year.form-control(type='Number', placeholder='Year', min='1857')
      
      .form-group.col-xs-4
        label Genre
        select#genre.form-control
          option Classical
          option Folk
          option Jazz
          option Opera
          option Rock
          option Other
          option Country
    
    button.btn.btn-default(type='submit') Submit
    
block scripts
  script(src="/js/addVinyl.js")
