extends layout

block links
  link(rel="stylesheet", href="/css/catalog.css")

block content
  ul#IdCatalog
    each vinyl in catalog
      li.vinylListing
        .row
          .col-xs-6.align-left
            = "Artist: " + vinyl.artist
          .col-xs-4.align-left
            = "Album: " + vinyl.album 
          .col-xs-2
            button.btn.btn-default(data-owner = vinyl.owner) Barter
        .row
          .col-xs-4.align-left
            = "Condition: " + vinyl.condition 
          div.col-xs-4.align-left
            = vinyl.year ? "Year: " + vinyl.year : "Year: Unknown"
          .col-xs-4.align-left
            = "Genre: " + vinyl.genre 

block scripts
  script(src="/js/catalog.js")
