extends layout
  
block links
  link(rel="stylesheet", href="/css/changepassword.css")  
  
block content  
  h3.col-xs-8.col-xs-offset-2 Change Password
  form.col-xs-8.col-xs-offset-2#formPassChange
    .form-group
      label Password
      input#oldPass.form-control(type='password', placeholder='Current Password', required)
    .form-group
      label Password
      input#newPass.form-control(type='password', placeholder='New Password', required)
    .form-group
      label Verify Password
      input#newPassVerify.form-control(type='password', placeholder='Verify New Password', required)
    button.btn.btn-default(type='submit') Submit

block scripts
  script(src="/js/changepassword.js")
