extends layout

block content
  h2
    = "Hello, " + user.first
  a(href="/vinyls/add")
    button.btn.btn-default Add Vinyl
  h3 Offers You've Made
  ul
    li 
  h3 Offers from Others
  ul
    li 
  h3 Your Collection
  ul
    li 
