extends layout

block links
  link(rel="stylesheet", href="/css/dashboard.css")

block content
  h2
    = "Hello, " + user.first
  a(href="/vinyls/add")
    button.btn.btn-default Add Vinyl
  a(href="/users/changePassword")
    button.btn.btn-default Change Password
  h3 Offers You've Made
  h3 Offers from Others
  h3 Your Collection
  ul#ownedVinyls
    each vinyl in owned
      li
        .row
          .col-xs-6.align-left
            = "Artist: " + vinyl.artist
          .col-xs-4.align-left.album
            = "Album: " + vinyl.album 
          .col-xs-2
            button.btn.btn-default.deleteVinyl(data-vinyl-id = vinyl.id) Remove Vinyl
        .row
          .col-xs-3.align-left
            = "Condition: " + vinyl.condition 
          .col-xs-3.align-left
            = vinyl.year ? "Year: " + vinyl.year : "Year: Unknown"
          .col-xs-3.align-left
            = "Genre: " + vinyl.genre 
          table
            tr.col-xs-3
              td Available
              td   
                input.availableCheck(type="checkbox" checked=vinyl.available data-vinyl-id = vinyl.id)
              
block scripts
  script(src="/js/dashboard.js")
